@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'Beautiful Heartbeat', cursive;
    src: url(fonts/Beautiful\ Heartbeat.otf);
}

:root {
    --orange-color:#f48e26;
    --green-color: #8dc8b0;
    --grey-color: #d9e1e1;
    --black-color: #2b312f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Beautiful Heartbeat";
}

h1{
    font-family: "Beautiful Heartbeat";
    font-size: 4rem;
    margin-bottom: 2rem;
}

.montserrat {
    font-family: 'Montserrat',sans-serif;
}

/* Navbar Start */
.navbar {
    background-color: var(--grey-color);
    /* border-bottom: 0.5px solid rgba(0,0,0,0.2); */
}

.scroll-navbar {
    box-shadow: 0 2px 10px 2px rgba(0,0,0,0.2);
}

.nav-wrapper {
    margin: 0 2rem;
}
.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-right: 1rem;
}

.nav-item a {
    color: var(--black-color);
    font-size: 1.2rem;
    letter-spacing: .2rem;
}

.nav-item a:hover {
    color: #696968;
    transition: color .5s;
}

.nav-item a.active {
    color: var(--green-color);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(43,49,47,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.scroll-menu {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
}

  
.btn {
    color: var(--black-color);
    padding: 0.5rem 2.5rem;
    border: 2px solid;
    border-radius: .5rem;
    font-size: 1.8rem;
}

button.ticket-btn {
    background-color: var(--green-color);
    color: var(--black-color);
    padding: 0 2.5rem;
    border: 2px solid;
    border-radius: .5rem;
    font-size: 1.4rem;
}

/* Navbar End */

/*******  Home Page ********/

/* Banner Area */
.site-banner {
    background: url('images/triangle-dots.png') no-repeat var(--grey-color);
    padding: 10rem 0;
}

.banner-title {
    text-align: center;
}
.banner-title span {
    display: block;
}

.banner-text {
    font-family: 'Montserrat',sans-serif;
    text-align: center;
}

.banner-text a {
    text-decoration: none;
    
    color: var(--green-color);
    font-weight: bold;
    transition: color .3s;
}

.banner-text a:hover {
    color: var(--black-color);
    font-weight: bold;
}

.banner-img>img {
    width: 80%;
    border-radius: 1.5rem;
}

.schedule-btn {
    padding: 0.3rem 2rem;
    border: 2px solid;
    border-radius: .3rem;
    font-size: 1.4rem;
    margin: 10%;
    background-color: var(--grey-color);
}

.schedule-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative; 
    transition: 0.5s;
}

.schedule-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -0.3rem;
    transition: 0.5s;
}

.schedule-btn:hover span {
    padding-right: 1rem;
}

.schedule-btn:hover span:after {
    opacity: 1;
    right: 0;
}

.tickets-btn {
    padding: 0.3rem 2rem;
    border: 2px solid;
    border-radius: .3rem;
    font-size: 1.4rem;
    margin: 10%;
    background-color: var(--green-color);
}

.tickets-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative; 
    transition: 0.5s;
    
}

.tickets-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -0.3rem;
    transition: 0.5s;
}

.tickets-btn:hover span {
    padding-right: 1rem;
}

.tickets-btn:hover span:after {
    opacity: 1;
    right: 0;
}


/* Banner Area End */

/* About Area */
.about-area{
    padding-bottom: 50px;
    background: url("images/rectangular-dots.png") no-repeat -10% 100%;
}
.about-photo>img {
    width: 600px;
    border-radius: 10rem;
}

.about-title {
    margin-top: 50px;
    text-align: center;
}

.about-text {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin-top: 10%;
    text-align: center;
}
/* About Area */

/* About Area End */


/* Sponsor Area */
.sponsors {
    background-color: var(--grey-color);
    padding-top: 50px;
}

.sponsors-title {
    text-align: center;
}
/*******  End of Home Page ********/

/*******  Schedule Page ********/
.schedule-overview {
    padding: 10rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("images/rectangular-dots.png") no-repeat -5% 20%;
}

.schedule-text {
    text-align: center;
    padding: 0 4rem;
}

.schedule-text p {
    font-size: 0.8rem;
}

.schedule-tables {
    display: flex;
    justify-content: center;
}

.fri-schedule {
    background: url("images/circle-dots.png") no-repeat 90% 90%;
}

.sat-schedule {
    background: url("images/triangle-dots.png") no-repeat 0% 90%;
}

.single-table {
    margin-bottom: 5rem;
}
.schedule-tables table {
    table-layout: fixed;
}

.schedule-tables table th{
    font-size: 3rem;
    text-align: center;
    background-color: var(--grey-color);

}

.schedule-tables table .tr-2 {
    background-color: #E8F1F2;
   
}

.schedule-tables table .tr-2 td{
    font-size: 1.4rem;
    padding: 1.5rem 0;
}

.schedule-tables table td{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 1.5rem 0;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.schedule-btn {
    background-color: var(--grey-color);
}
/*******  End of Schedule Page ********/

/*********  Eat & Drink Page *********/
.eatdrink {
    padding: 10rem;
    position: relative;
}

.eatdrink-title {
    text-align: center;
}

.eatdrink-title p {
    width: 800px;
}

.lists {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.list-item {
    max-width: 1000px;
    position: relative;
    margin-top: 3rem;
    display: flex;
}

.item-left {
    width: 300px;
    height: 100%;
}

.item-right {
    background-color: var(--grey-color);
    padding: 3rem;
    position: relative;
    max-width: 700px;
}

.item-right .item-cats {
    display: flex;
}

.item-title {
    margin-bottom: 1rem;
}

.item-title .title-name {
    font-family: 'Beautiful Heartbeat', cursive;
    font-size: 2.5rem;
}

.item-title .title-type {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Montserrat',sans-serif;
}

.item-cats {
    position: absolute;
    top: 2.2rem;
    right: 2rem;
}

.item-cats .item-cat {
    font-size: 1.2rem;
    background-color: #fff;
    padding: 0 1rem;
    margin-right: 1.3rem;
}

.item-detail {
    font-family: 'Montserrat',sans-serif;
    font-size: 0.9rem;
}

.item-bottom {
    display: flex;
    justify-content: space-between;
}

.social-icons .social-icon {
    margin-right: 1.3rem;
}

.learnmorebtn {
    background-color: var(--green-color);
    color: var(--black-color);
    padding: 0 2.5rem;
    border: 1px solid;
    border-radius: .5rem;
    font-size: 1.5rem;
}

/******* End of Eat & Drink Page ********/


/************** Contact Page **************/
.contact {
    padding: 10rem;
    background: url('images/triangle-dots.png') no-repeat 80% 25%;
}

.contact-col1 {
    display: flex;
    flex-direction: column;
}

.contact-col2 {
    display: flex;
    justify-content: center;
}
.contact-text p {
    font-family: 'Montserrat',sans-serif;
    font-size: 1.2rem;
    color: var(--black-color);
}

.contact-text h2 {
    font-size: 3rem;
}

.contact-input input {
    width: 200px;
    height: 40px;
    padding: 0 10px;
    margin: 10px 10px 10px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}

.contact-input input::placeholder {
    color: var(--green-color);
}

.contact-form textarea {
    width: 410px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}

.contact-form textarea::placeholder {
    color:var(--green-color);
}

.contact-btn-div {
    width: 410px;
    display: flex;
    justify-content: flex-end;
}

.contact-btn-div button {
    background-color: var(--green-color);
    color: var(--black-color);
    padding: 0 2.5rem;
    border: 1px solid;
    border-radius: .2rem;
    font-size: 1.4rem;
}


.contact-logo-img img {
    width: 500px;
}

.google-map {
    display: flex;
    justify-content: center;
    z-index: -1;
    position: relative;
}

.contact-items {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: -20px;
    z-index: 10;
}

.contact-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-item h3 {
    margin-top: 10px;
    font-size: 2.2rem;
}
.contact-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: var(--green-color);
    border-radius: 50%;
    color: #fff;
}

.contact-item i {
    font-size: 1.5rem;
}
.contact-item p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--black-color);
}

/******* End of Contact Page ********/

/******* Tickets Page ********/
.ticket-title {
    text-align: center;
}
.tickets {
    padding: 10rem;
}

.ticket1 {
    display: flex;
    justify-content: space-between;
    background-color: var(--grey-color);
    width: 800px;
    height: 250px;
    padding: 3rem;
}

.info-list {
    position: relative;
}
.info-list button {
    position: absolute;
    top: 4rem;
    right: 0.5rem;
}
/******* End of Tickets Page ********/

/*************** Footer ***************/
.footer-area {
    background-color: var(--black-color);
    color: var(--grey-color);
    padding: 2rem 0;
}

.footer-area .wtc-name span {
    display: block;
}

.footer-area .footer-links {
    display: flex;
    flex-direction: column;
}

.footer-area .footer-links a {
    text-decoration: none;
    color: var(--grey-color);
    font-size: 2rem;
}

.footer-area  .contact-info {
    font-size: 1.7rem;
    margin-top: 1.3rem;
}
/*************** End of Footer ***************/

/*************** Animations *****************/


/**************** Media Queries ****************/
@media only screen and (max-width: 1000px) {
    .list-item {
        max-width: 1000px;
        position: relative;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
    }
}




/*************** Sponsor Slider ***************/

.slick-slide {
    margin: 70px 20px;
}

.slick-slide img {
    width: 80%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

